{% extends 'base.html.twig' %}

{% block title %}BikeToDeliver | Bicicletas{% endblock %}

{% block body %}
    <div id="container">
        Bikes!
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
