{% extends 'base.html.twig' %}

{% block title %}BikeToDeliver | Portada{% endblock %}

{% block body %}
    <div id="container">
        Home! <br/>
        <a href="{{ url('bikes') }}">Bicis</a>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
