{% extends 'base.html.twig' %}

{% block title %}BikeToDeliver | Portada{% endblock %}

{% block body %}
    <div id="container">
        Hello!
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
